


.cellaTabellona {

    background-color: aqua;
    display: inline-block;
    border: 1px solid black;
}

#tabellone {

    text-align: center;
    border: 1px solid black;
}

div {

    border: 1px solid black;
    
    width: 20px;
}